<footer>
    <div class="works-item">
        <a href="https://count.getloli.com/" aria-label="Moe Counter!" target="_blank">
            <img src="https://count.getloli.com/@Benzyl-titanium?name=Benzyl-titanium&theme=booru-lewd&padding=7&offset=0&align=bottom&scale=1&pixelated=1&darkmode=auto"/> 
        </a>
    </div>
    <b>© 2021-2025  
        <a href="index.html" title="Benzyl titanium's home - 苄钛主页">
            <span style="color: rgb(176, 170, 234);">Benzyl titanium</span>.
        </a> All Rights Reserved.
    </b>
    <br>
    <p>
        <b>Powered by 
            <a href="https://github.com/Dreamer-Paul/Kico-Style" title="Kico Style" target="_blank">
                <span style="color: rgb(176, 170, 234);">Kico Style</span>
            </a>
             &
             <a href="https://github.com/reymond-group/smilesDrawer" title="smilesDrawer" target="_blank">
                <span style="color: rgb(176, 170, 234);">smilesDrawer</span>
            </a>
            &
            <a href="https://chemaxon.com" title="Chemaxon" target="_blank">
                <span style="color: rgb(176, 170, 234);">Chemaxon</span>.
            </a>
        </b> 
    </p>
</footer> 