<button class="menu-toggle" aria-label="Toggle Menu">
    <i class="fa fa-list"></i>
</button>
<aside class="sidebar">
    <div class="avatar">
        <a href="index.html" class="home-link">
            <img src="public/imgs/a.jpg"/>
            <i class="fa fa-home home-icon"></i>
        </a>
    </div>
    <div style="text-align:center;">
        <a href="index.html" class="home-link">
            <b>Benzyl titanium's home</b>
        </a>
        <div>
            <a href="https://x.com/Benzyl_titanium" aria-label="X" target="_blank" class="social-icon">
                <span style="color: rgb(176, 170, 234); font-size: 25px;">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a href="https://github.com/Benzyl-titanium" aria-label="github" target="_blank" class="social-icon">
                <span style="color: rgb(0, 0, 0); font-size: 25px;">
                    <i class="fa fa-github"></i>
                </span>
            </a>
            <a href="https://t.me/Benzyl_titanium" aria-label="telegram" target="_blank" class="social-icon">
                <span style="color: rgb(176, 170, 234); font-size: 25px;">
                    <i class="fa fa-telegram"></i>
                </span>
            </a>
            <a href="mailto:benzyl.titanium@gmail.com" aria-label="gmail" class="social-icon">
                <span style="color: rgb(0, 0, 0); font-size: 25px;">
                    <i class="fa fa-envelope-o"></i>
                </span>
            </a>
        </div>
    </div>
    <nav class="nav">
        <a href="index.html#info" class="nav-item home-link" style="color: black;">
            <i class="fa fa-user-o"></i> Bio
        </a>
        <a href="index.html#stats" class="nav-item home-link" style="color: black;">
            <i class="fa fa-pie-chart"></i> Stats
        </a>
        <a href="index.html#skills" class="nav-item home-link" style="color: red;">
            <i class="fa fa-heart"></i> 
            <span style="color: black;">喜欢研究</span>
        </a>
        <div class="nav-item">
            <button class="project-menu-btn">
                <i class="fa fa-file-text-o"></i> 项目
            </button>
            <div class="submenu" style="display: none; position: absolute; left: 0; top: 100%; width: 100%; background: #fff2e2; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                <a href="https://benzyl-titanium.pages.dev" class="nav-item home-link" style="color: black;" target="_blank">
                    <i class="fa fa-book"></i> Blog
                </a>
                <a href="https://benzyl-titanium.pages.dev/posts/structural-formula" class="nav-item home-link" style="color: black;" target="_blank">
                    <i class="fa fa-bars"></i> 管制药品项目
                </a>
                <a href="https://benzyl-titanium.pages.dev/posts/ymsf" class="nav-item home-link" style="color: black;" target="_blank">
                    <i class="fa fa-cog"></i> 右美沙芬结构改造
                </a>
                <a href="https://benzyl-titanium.top/posts/babychem/" class="nav-item home-link" style="color: black;" target="_blank">
                    <i class="fa fa-pencil"></i> BabyChem笔记
                </a>
                <a href="/designdrugs.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-eyedropper"></i> 设计药物
                </a>
                <a href="/Structural-formula.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-table"></i> 管制药品表格
                </a>
                <a href="/solubility.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-tint"></i> 化合物溶解度表
                </a>
            </div>
        </div>
        <div class="nav-item">
            <button class="project-menu-btn">
                <i class="fa fa-building"></i> BianTaiLAB
            </button>
            <div class="submenu" style="display: none; position: absolute; left: 0; top: 100%; width: 100%; background: #fff2e2; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                <a href="/chemgame.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-gamepad"></i> 猜化合物游戏
                </a>
                <a href="/chemhandbook.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-flask"></i> 合成实验手册
                </a>
                <a href="/marvin.html" class="nav-item home-link" style="color: black;">
                    <i class="fa fa-paint-brush"></i> 结构编辑器
                </a>
            </div>
        </div>
        <a href="index.html#timeline" class="nav-item home-link" style="color: black;">
            <i class="fa fa-github"></i> Repo
        </a>
    </nav>
</aside>