<aside class="sidebar">
    <div class="avatar">
        <a href="index.html" title="Benzyl titanium's home">
            <img src="public/imgs/a.jpg" title="Benzyl titanium's home"/>
        </a>
    </div>
    <div style="text-align:center;">
        <a href="index.html" title="Benzyl titanium's home">
            <b>Benzyl titanium's home</b>
        </a>
    </div>
    <div>
        <nav class="nav">
            <a href="https://x.com/Benzyl_titanium" aria-label="X" target="_blank">
                <span style="color: rgb(176, 170, 234); font-size: 25px;">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a href="https://github.com/Benzyl-titanium" aria-label="github" target="_blank">
                <span style="color: rgb(0, 0, 0); font-size: 25px;">
                    <i class="fa fa-github"></i>
                </span>
            </a>
            <a href="https://t.me/Benzyl_titanium" aria-label="telegram" target="_blank">
                <span style="color: rgb(176, 170, 234); font-size: 25px;">
                    <i class="fa fa-telegram"></i>
                </span>
            </a>
            <a href="mailto:benzyl.titanium@gmail.com" aria-label="gmail">
                <span style="color: rgb(0, 0, 0); font-size: 25px;">
                    <i class="fa fa-envelope-o"></i>
                </span>
            </a>
        </nav>
    </div>
</aside> 